/* Root Stuff */
.rootBody {
  margin: auto;
  display: grid; 
  width: 100%;
  grid-template-columns: auto 62% auto;
  grid-template-rows: auto auto auto;
  box-sizing: content-box;
  overflow: hidden;
}

#rootHeader {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 2;
  box-sizing: content-box;
  background-image: url('../jpg/annie_spratt_paper.jpg');
  background-size: cover;
}

#rootFooter {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 3; 
  grid-row-end: 4;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-image: url('../jpg/annie_spratt_paper.jpg');
  background-size: cover;
  box-sizing: content-box;
}

#rootFooterLogo {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rootFooterBusinessEnquiries {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rootFooterOpeningHours {
  grid-column-start: 3; 
  grid-column-end: 4; 
  grid-row-start: 1; 
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rootMain {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 2; 
  grid-row-end: 3; 
  box-sizing: content-box;
}

.rootP {
  text-align: center;
  margin: 0em;
}

div table td, div table th {
  padding: 0px 10px ;
  white-space: nowrap;
  vertical-align:top;
  margin: 0em;
}

.rootImg {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .rootBody {
    grid-template-columns: auto 100% auto;
  }
}

/* Page Stuff */
.pageNav {
  display: grid; 
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  padding: 0px;
  margin: 0px auto;
}

.pageA:focus, .pageA:active {
  outline: none !important;
  box-shadow: none !important;
}

.pageButton:focus, .pageButton:active {
  outline: none !important;
  box-shadow: none !important;
}

.pageA, .pageStrong, .pageButton {
  white-space: nowrap;
  border-radius: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.btn-group {
  height: 100%; 
  margin: 0px !important;
  padding: 0px !important;
}

.dropdown-menu-right {
  right: -1px;
  border-radius: 0px;
  padding: 0px;
  overflow: hidden;
  margin: 0px !important;
  padding: 0px !important;
}

/* Register Stuff */
#registrationForm {
  padding: 10px;
  position: fixed;
  top: 20px;
  z-index: 1;
  border: solid black 3px;
  border-radius: 3px;
}

header, main, footer {
  filter: blur(3px);
  pointer-events: none;
}