/* Index Stuff */
#registrationForm {
  padding: 10px;
  position: fixed;
  top: 20px;
  z-index: 1;
  border: solid black 1px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto  auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-gap: 10px;
}

#loginForm {
  padding: 10px;
  position: fixed;
  top: 20px;
  z-index: 1;
  border: solid black 1px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto  auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
}

header, main, footer {
  filter: blur(3px);
  pointer-events: none;
}

.form-control:focus{
  border-color: rgb(41, 43, 44); 
  box-shadow: none; 
  -webkit-box-shadow: none;
}

.has-error .form-control:focus{
  box-shadow: none; 
  -webkit-box-shadow: none;
}

.indexText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}