.rootBody {
  margin: auto;
  display: grid; 
  width: 100%;
  grid-template-columns: auto 62% auto;
  grid-template-rows: auto auto auto;
}

#rootHeader {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 2; 
}

#rootFooter {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 3; 
  grid-row-end: 4;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-image: url('../jpg/annie_spratt_paper.jpg');
  background-size: contain;
}

#rootFooterLogo {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rootFooterBusinessEnquiries {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rootFooterOpeningHours {
  grid-column-start: 3; 
  grid-column-end: 4; 
  grid-row-start: 1; 
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rootMain {
  height: 30vh;
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 2; 
  grid-row-end: 3; 
}

.rootP {
  text-align: center;
  margin: 0em;
}

table td, table th {
  padding: 0px 10px ;
  white-space: nowrap;
  vertical-align:top;
  margin: 0em;
}

.rootImg {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .rootBody {
    grid-template-columns: auto 100% auto;
  }
}