.rootBody {
  margin: auto;
  display: grid; 
  width: 62%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.rootHeader {
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 1; 
  grid-row-end: 2; 
}

.rootHeaderImage {
  width: 100%;
}

.rootFooter {
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 3; 
  grid-row-end: 4;
}

.rootFooterLogoDiv {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 3; 
  grid-row-end: 4;
  width: 100%;
  display: flex;
  align-items: center;
}

.rootFooterBusinessEnquiries {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 3; 
  grid-row-end: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top:5px;
}

.rootFooterOpeningHoursDiv {
  grid-column-start: 3; 
  grid-column-end: 4; 
  grid-row-start: 3; 
  grid-row-end: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top:5px;
}

.tableDiv{

}

.rootFooterImage {
  width: 100%;
}

.rootMain {
  height: 30vh;
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 2; 
  grid-row-end: 3; 
}

td {
  vertical-align:top;
  margin: 0em;
}

p {
  text-align: center;
  margin: 0em;
}

table td, table th {
  padding: 0px 10px ;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .rootBody {
    width: 100%;
  }
}