.rootBody {
  margin: auto;
  display: grid; 
  width: 62%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.rootHeader {
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 1; 
  grid-row-end: 2; 
}

.rootHeaderImage {
  width: 100%;
}

.rootFooter {
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 3; 
  grid-row-end: 4;
}

.rootFooterLogoDiv {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 3; 
  grid-row-end: 4;
  width: 100%;
  display: flex;
  align-items: center;
}

.rootFooterOpeningHoursDiv {
  grid-column-start: 3; 
  grid-column-end: 4; 
  grid-row-start: 3; 
  grid-row-end: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size:10px; */
}

.rootFooterImage {
  width: 100%;
}

.rootMain {
  height: 100vh;
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 2; 
  grid-row-end: 3; 
}